body{
  background: #f8f8f9;
}

.imgBox{
  display: flex;
  justify-content: center;
  align-items: center;
  img{
    display: block;
    max-width: 100%;
    max-height: 100%;
  }
}

.loginBox{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 50px;
  width: 400px;
  background: #ffff;
  padding: 16px 32px 32px;
  .imgBox{
    height: 100px;
    padding-bottom: 20px;
    margin-bottom: 32px;
    border-bottom: #e8eaec solid 1px;
  }
  .ivu-form{
    .ivu-form-item{
      .ivu-btn{
        display: block;
        width: 100%;
        height: 44px;
      }
    }
  }
  .tipsBox{
    text-align: center;
  }
}

.header{
  height: 60px;
  display: flex;
  background: #fff;
  line-height: 60px;
  border-bottom: #e8eaec solid 1px;
  .logoBox{
    height: 100%;
    width: 240px;
  }
  .headNavBox{
    flex: 1;
    height: 100%;
    display: flex;
    align-items: center;
    .item{
      padding: 0 30px;
      font-size: 16px;
      line-height: initial;
      color: #515a6e;
      &.router-link-active{
        color: #2d8cf0;
      }
    }
  }
  .userBox{
    max-width: 200px;
    padding-right: 20px;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 14px;
    .headImg{
      width: 40px;
      height: 40px;
      overflow: hidden;
      border-radius: 50%;
      margin-right: 5px;
    }
  }
}

.content{
  height: calc(100vh - 61px);
  display: flex;
  .ivu-menu{
    width: 240px;
    height: 100%;
  }
  .page{
    flex: 1;
    height: 100%;
    position: relative;
    box-sizing: border-box;
    padding:10px 20px;
    overflow-y: scroll;
  }
}

.mPageTabs{
  .ivu-tabs-nav-container{
    background:#fff;
  }
}
.ivu-breadcrumb{
  &>span:last-child{
    font-weight: normal;
  }
}

.menuSettingPage{
  .searchBox{
    display: flex;
    margin: 20px 0;
    .ivu-input-wrapper{
      width: 300px;
    }
    .ivu-btn{
      margin-left: 10px;
    }
  }
  .ivu-form-item{
    margin-bottom: 15px;
  }
  .menuTable{
    height: calc(100% - 110px);
    overflow-y: scroll;
  }
}

.errorPage{
  display: flex;
  align-items: center;
  justify-content: center;
}
